<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- <script src="{% static 'js/upload.js' %}" defer></script>
  <script src="{% static 'js/register.js' %}" defer></script> -->
  <title>
    {% block title %}
      Default Title
    {% endblock %}
  </title>
</head>
<body>
  <nav>
    <a href="/">🏡 Home</a> |
    <a href="/register">Register</a> |
    <a href="/login">Login</a> |
    <a href="/online">Online Play</a> |
    <a href="/upload">Upload</a> |
    <form class="logout" action="/logout" method="post">
      {% csrf_token %}
      <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
    </form>
  </nav>
  <main>
    {% block content %}

    {% endblock %}
  </main>

</body>
</html>